.myButton {
    cursor: pointer;
    padding: 3px 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.default {
    background-color: white;
}

.default:hover {
    border: 1px solid rgba(138, 43, 226);
    color: rgba(138, 43, 226)
}

.active {
    background-color: blueviolet;
    color: white;
}

.active:hover {
    background-color: white;
    outline: 1px solid rgb(138, 43, 226);
    color: rgb(138, 43, 226);
}

.disable {
    background: lightgray;
    color: grey;
}