.todoListItem {
    max-width: 100%;
    width: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);

    .itemTitle {
        margin: 10px 0;
    }

    .itemList {
        min-height: 100px;

        li {
            margin: 10px;

            span {
                margin-left: 10px;
            }
        }

        li button {
            margin-left: 5px;
        }

        li button:hover {
            background-color: crimson;
            color: white;
        }
    }

    .filterButtons {
        button {
            margin: 5px;
        }
    }

    .buttonActive {
        background-color: rgb(87, 73, 136);
        color: white
    }
}