.todoListItem {
    max-width: 100%;
    width: 200px;
    height: fit-content;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;

    .itemTitle {
        margin: 10px 0;
    }

    .filterButtons button {
        margin: 5px 3px;
    }

    .itemList {
        li {
            margin: 10px;

            span {
                margin-left: 10px;
            }

            button {
                margin-left: 5px;
            }
        }
    }

    .collpseButtonBlock {
        position: absolute;
        top: 3px;
        right: 3px;
        border: 1px solid grey;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);

        button {
            border: 0;
            padding: 0;
            width: 20px;
            height: 20px;
        }
    }
}

.todoListItem.completed:not(.completedTodoButton) {
    background: lightgray;
}