.todoListItem {
    max-width: 100%;
    width: 220px;
    height: fit-content;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;

    .itemTitle {
        margin: 10px 0;
    }

    .filterButtons button {
        margin: 0
    }

    .itemList {
        width: 200px;
        min-height: 110px;
        margin: 5px 0;

        li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;

            button {
                margin-left: 5px;
            }
        }
    }

    .noTasks {
        margin: 10px 0 0;
    }

    .collpseButtonBlock {
        position: absolute;
        top: 3px;
        right: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.todoListItem.completed:not(.completedTodoButton) {
    background: lightgray;
}