.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: auto;

    button {
        padding: 2px;
        max-width: 80px;
        width: 100%;
        margin: 2px;
        height: 25px;
    }
}