.inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .errorBox {
        height: 15px;
        font-size: 14px;
        color: crimson;
    }

    .errorText {
        font-size: 14px;
        color: crimson;
    }
}