.header {
    height: 50px;
    background-color: rgb(244, 241, 255);

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100%;
    }
}