.button {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid var(--button-text-color);
    border-radius: 5px;
}

.default {
    background: var(--button-background);
    color: var(--button-text-color);
    padding: 5px 20px;
}

.default:hover {
    background: #0080FF;
}

.default:active {
    background: #0059B2;
}

.secondary {
    color: #0066CC;
    background: white;
    border: 1px solid #0066CC;
}

.secondary:hover {
    background: #E5F0FA;
    color: #0066CC;
}

.secondary:active {
    background: #C9E5FF;
    color: #0066CC;
}

.remove {
    color: #0066CC;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.remove:hover {
    color: crimson;
    background: #fff0f0;
}

.remove:active {
    background-color: crimson;
}

.active {
    background-color: blueviolet;
    color: white;
}

.disable {
    background: lightgray;
    color: grey;
}