.todoAreas {
    display: flex;
    width: 100%;
    position: relative;
    align-content: stretch;


    .addTaskButton {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 50px;
        margin-right: 50px;

        .addButton {
            font-size: 40px;
            background-color: aliceblue;
            border: whitesmoke;
            padding: 10px 20px;
        }
    }
}